@import "tailwindcss";

:root {
  /* Paleta Light - Más limpia y con contrastes suaves */
  --brand: #5502a6;
  --background: #f8f9fa;
  --foreground: #1a1a1b;
  --card: #ffffff;
  --card-border: #e2e8f0;
  --input: #edf2f7; /* Gris claro para el buscador */
}

.dark {
  /* Paleta Dark - Profunda basada en el logo */
  --background: #050505;
  --foreground: #f4f4f5;
  --card: #0f0f10;
  --card-border: #1f1f22;
  --input: #1a1a1c; /* Contraste para el buscador en dark */
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-montserrat);

  --color-brand: var(--brand);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-input-bg: var(--input);
}

body {
  font-family: var(--font-inter), ui-sans-serif, system-ui;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
.logo-text {
  font-family: var(--font-montserrat);
}
